<div class="user-bar">
    <div class="pull-left">
        <h4><%= t("shared.common.title") %></h4>
    </div>
    <div class="pull-right">
        <ul class="unstyled inline">
            <li><span><%= t("shared.users.common.greeting") %></span><%= current_user.email %></li>
        </ul>
    </div>
</div>
