<div id="main" class="span12">
    <ul class="unstyled nominations">
        <li class="nomination">
            <% @nominations.each do |nomination| %>
                <% if !nomination.candidates.blank? %>
                    <h4 class="n-name"><%= nomination.name %></h4>
                    <ul class="unstyled candidates">
                        <% nomination.candidates.each do |candidate| %>
                            <li class="candidate">
                                <span class="c_name"><%= candidate.try(:fam_name) %><%= candidate.try(:first_name) %><%= candidate.try(:sec_name) %></span>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
        </li>
    </ul>
</div>
