// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote-action { width: 8.5em; }

.vote-container {
    .text-right { font-size: 85%; color: #999999; }

    blockquote p {
        font-size: 1em;
        margin-bottom: 0.4em;
        &.notext { color: #9c9a9b; }
    }
}

.candidate-info { border-bottom: 1px solid #e5e5e5; }
.candidate-votes h4 { margin: 1em 0 0 0; }

#candidates-dash .container {
    div.small { padding-top: 0.3em; }
    .badge { cursor: default; }
    li .votes-count, .actions { position: relative; bottom: 2em; }
}

#comment {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

#main {
    li.nomination {
        h4 { margin-bottom: 0; }
        .candidates {
            margin-top: 0.4em;
        }
        .under { height: 1px; width: 400px; border-bottom: 1px solid #e3e5d0; display: block; }
    }
    ul.candidates { overflow: hidden; }
    .candidate strong a { font-size: 1.2em; text-decoration: underline; }
    .candidate .label.info { background-color: #e5e5e5; color: #666; font-weight: normal; text-shadow: none; }
}

.container-men {
    padding: 0.4em 0 0.8em 0;
    width: 400px;
    div {
        width: 16px;
        height: 32px;
        display: inline-block;
        background: url(/images/man.gif) -32px 0 no-repeat;
        &.active { 
            background-position: 0 0;   
            &:hover { background-position: -16px 0; }
        }
    }
}

.comment-baloon {
    width: 450px;
    background-color: #ffedbf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-radius: 4px;
    padding: 10px 20px 5px;
    margin-left: 20px;
    font-size: 85%;
    .arrow { 
        border-color: transparent rgb(255, 237, 191) transparent transparent;
        border-style: solid;
        border-width: 10px;
        display: block;
        height: 0;
        left: 0px;
        top: 20px;
        width: 0;
        position: absolute;
    }
    span:before { content: '\2014 \00A0' }
}
