// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote-action { width: 8.5em; }

.vote-container {
    .text-right { font-size: 85%; color: #999999; }

    blockquote p {
        font-size: 1em;
        margin-bottom: 0.4em;
        &.notext { color: #9c9a9b; }
    }
}

.candidate-info { border-bottom: 1px solid #e5e5e5; }
.candidate-votes { h4 { margin: 1em 0 0 0; } }

#candidates-dash .container {
    div.small { padding-top: 0.3em; }
    .badge { cursor: default; }
    li { 
        .votes-count, .actions { position: relative; bottom: 2em; }
    }
}

#comment {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.container-men div {
    width: 17px;
    height: 36px;
    background: url(/images/man.gif) 0 0 no-repeat;
    display: inline-block;
    &:hover { background-position: 100% 0; }
}

.comment-baloon {
    width: 400px;
    background-color: #eee;
}
