// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

html, body {
    height: 100%;
}

.container-fluid.dashboard {
    padding: 0;
    .row-fluid [class*="span"] { margin-left: 0; }
} 

.left-column { 
    border-right: 1px solid #d4d5d0;
    -webkit-box-shadow: 0 0 10px rgba(213, 212, 208, 0.8);
}
.right-column { 
    padding: 0.45em 0.6em 0 2.6em; 
    h4 { margin-bottom: 0.8em; }
}

.dashboard-menu {
    li {
        a { 
            padding-left: 1.3em; 
            color: #696969;
        }
        line-height: 3.6em;
        //border-left-width: 4px;
        //border-left-style: solid;
        border-bottom: 1px solid #e3e5d0;
    }
    li.active { background-color: #eeeeee; } 
    //.home { border-left-color: #de6262; }
    //.users { border-left-color: #63a9dd; }
    //.nominations { border-left-color: #70c581; }
    //.orgs { border-left-color: #dca763; }
    //.candidates { border-left-color: #aa6e70; }
    //.votes { border-left-color: #72a59c; }
}

.admin { color: #9d261d; }

.admin-table {
    button { 
        border: none; 
        background: none;
    }
}

.edit-nomination, .edit-org { 
    color: $link-color;
    &:hover { color: $hover-link-color; text-decoration: underline; }
}

.destroy-nomination, .destroy-org { margin-left: 20px; }

.nav-tabs.orgs-tabs a { padding-left: 1.6em; padding-right: 1.6em; }
.nav-tabs.orgs-tabs > .active > a, .nav-tabs.orgs-tabs > .active > a:hover, .nav-tabs.orgs-tabs > .active > a:focus { background-color: #e6f1f6; }

#nominations {
    .container { 
        border: 1px solid #e5e5e5;
        @include rounded-borders; 
        margin: 0; 
        margin-bottom: 1.8em;
        width: 100%;
    }

    .admin-table {
        width: 100%;

        th, td { 
            padding: 0.8em 0.5em; 
            line-height: 1.4em; 
            &.actions { text-align: right; }
            form { margin-bottom: 0; }
        }
        tr { border-bottom: 1px solid #e5e5e5; }
        tr:nth-child(odd) > td, tr:nth-child(odd) > th { background-color: #f9f9f9; }
        & tbody :last-child { 
            border-bottom: none; 
            td { padding-bottom: 1.8em; }
        }
    }

    .form {
        input { width: auto; }
    }
}

#orgs {
    table {
        width: 100%;

        td{ padding: 0; }

        th { 
            padding: 0.8em 0.5em; 
            line-height: 1.4em; 
            border-bottom: 1px solid #e5e5e5;
            background-color: #e6f1f6;
        }

        .none { padding: 0.8em 0.5em; line-height: 1.4em; }

        .sub-table {
            tr:nth-child(odd) > td, tr:nth-child(odd) > th { background-color: #f9f9f9; }

            td, th {
                padding: 0.8em 0.5em; 
                line-height: 1.4em;
                border-bottom: 1px solid #e5e5e5;
                &.actions { text-align: right; }
            }

        }
    }
}

#candidates-dash {
    .container { 
        border: 1px solid #e5e5e5;
        @include rounded-borders; 
        margin: 0; 
        margin-bottom: 1.8em;
        width: 100%;
    }

    .admin-table {
        width: 100%;

        li { 
            padding: 0.8em 0.5em; 
            line-height: 1.4em; 
            border-bottom: 1px solid #e5e5e5; 
            background-color: white;
            span { display: inline-block; }
        }
        li:nth-child(odd) { background-color: #f9f9f9; }
    }

    ul li:last-child { border-bottom: none; }
    .fio { width: 60%; }
    .votes-count { width: 15%; }
}
