@import "bootstrap";

@mixin rounded-borders {
    $radius: 5px;

    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    box-radius: $radius; 
}

@mixin rounded($vert, $horz, $radius: 5px) {
    -webkit-border-#{$vert}-#{$horz}-radius: $radius;
    -mox-border-radius-#{$vert}-#{$horz}: $radius;
    border-#{$vert}-#{$horz}-radius: $radius;
}

$link-color: #0088cc;
$hover-link-color: #005580;

.rounded { 
    @include rounded-borders; 
    border: 1px solid #dddddd;
} 

.shadowed { box-shadow: 0 0 10px rgba(0,0,0,0.1); }

.layout-mini { padding: 15px 25px; }

.navbar li span { float: none;
    padding: 10px 15px 10px;
    text-shadow: 0 1px 0 white; 
    display: block;
}

.nav-tabs { margin-bottom: 0; }

.tab-panel {
    margin: 0;
    margin-bottom: 1.8em;
    padding: 0;
    padding-bottom: 1em;
    border: 1px solid rgb(221, 221, 221);
    border-top: none;
    @include rounded(bottom, left);
    @include rounded(bottom, right);
}

.choise option { color: rgb(85, 85, 85); }
.empty { color: #999999; }

.section-title {
    position: relative;
    border-bottom: #ddd 1px solid;
    padding-bottom: 4px;
    span { 
        position: absolute;
        width: 50px;
        height: 1px;
        bottom: -1px;
        left: 0;
        background: #5bc0de;
    }
}

.grey { color: #999999; }
.tab-panel li.grey { line-height: 1.4em; }

.thin { 
    font-weight: normal; 
    color: #d4d4d4;
}

.sublist {
    margin-bottom: 0.4em;
    li { margin-left: 0.8em; }
}
.first-sublist {
    margin-bottom: 1.8em; 
}

.user-bar {
    overflow: hidden;
    padding: 10px 20px;
    background-color: #333434;
    h4 { color: #9c9a9b; }
    ul { 
        color: #d4d4d4; 
        margin: 10px 0;
        li { line-height: 20px; }
        span { color: #9c9a9b; }
    }
}

.candidates th {
    .current {
        padding-right: 12px;
        background-repeat: no-repeat;
        background-position: right center;
    }

    .asc { background-image: url(/images/up_arrow.gif); }
    .desc { background-image: url(/images/down_arrow.gif); }
}

.candidates {
    td.votes-count, th.votes-count { text-align: center; }
    td.vote-action { padding-right: 0; text-align: right; }
}

.new_vote {
    input[type="text"], input[type="password"] { width: 376px; }
    select { width: 390px; }
    textarea { width: 99%; }
    input[type="submit"].new-vote-button { 
        margin-right: 5px;
        width: 190px; 
    }
}

#search { width: 340px; }
.alert ul { margin-bottom: 0; }
