// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.comment-picker { line-height: 1.8em; }

#comments-picker {
    width: 70%;
    left: 37%;
    .checker { 
        margin-bottom: 0.8em;
    }
}
