// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.comment-picker { line-height: 1.8em; }

#comments-picker {
    width: 70%;
    left: 37%;
    .checker { 
        margin-bottom: 0.8em;
    }
}

.edit-vote-front { 
    font-size: 97%;
    padding-bottom: 2px;
    border: none;
    background: none;
    color: #0088cc;

    &:hover {
        color: #005580;
        text-decoration: underline;
    }
}

blockquote .edit_vote {
    textarea { width: 99%; clear: both; }
    .btn { margin-bottom: 10px; }
}
