<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <li><%= link_to t('shared.dashboard.nav.home_html'), dashboard_home_path %></li>
        </ul>
        <ul class="nav pull-right">
            <li><span><%= current_user.email %></span></li>
            <li class="divider-vertical"></li>
            <li><%= link_to t('shared.users.logout'), logout_path, :method => "delete" %></li>
    </div>
</div>
